/* This is where the css file for the design page is stored */

/* DesignHero start  */

.designHero {
	background: url('../../Assets/welcome.png') center center no-repeat fixed;
	background-size: 100vw 100vh;
	padding: 1.5rem 2rem;
}

.designHero-header {
	display: flex;
	margin-right: 0;
	/* width: 100vw; */
}

.designHero-h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.designHero-text {
	font-size: 1.3rem;
	margin-top: 0.5rem;
	max-width: 80%;
}

.designHero-svg {
	width: 3rem;
	height: 3rem;
	align-self: flex-end;
	bottom: 0;
}

.designHero-body {
	display: grid;
}

.designHero-body--svg {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.svg {
	width: 100%;
	height: 100%;
}

.designHero-card {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-left: 2rem;
}

.designHero-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
}

.designHero-card-text {
	font-size: 0.9rem;
	margin: 0.5rem 0;
	line-height: 1.5rem;
}

.designHero-sub {
	font-weight: bold;
	font-size: 1rem;
}

.designHero-sub-desc {
	margin-left: 1.5rem;
}

.designHero-btn {
	padding: 0.5rem 1.5rem;
	margin-top: 1rem;
	color: #d8cfcf;
	font-size: 0.9rem;
	background-color: #262626;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in;
	cursor: pointer;
}

.designHero-btn:hover {
	color: #262626;
	background-color: #ffffff;
}

@media only screen and (max-width: 750px) {
	.designHero {
		padding: 0.5rem 1rem;
	}

	.designHero-body {
		display: grid;
		flex-direction: row-reverse;
	}

	.designHero-body--svg {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		margin-top: 1rem;
	}

	.designHero-card {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		padding-left: 0;
	}
}

/* DesignHero end  */

/* DesignBody start  */
.designBody {
	display: grid;
}

.designBody-card {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-left: 2rem;
}

/* .designBody-body--svg{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
} */

.designBody-body--body[data-orientation='vertical'] {
	display: grid;
}

.designBody-body--body[data-orientation='vertical'] > .designBody-body--svg {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
.designBody-body--body[data-orientation='vertical'] > .designBody-body--card {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.designBody-body--body {
	margin-top: 1.3rem;
}

.designBody-Body[data-type='Tailor On The Go App'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.designBody-Body[data-type='ASSECO MArketplace Web Application'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.designBody-Body[data-type='Area Express Web Application'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
}

.designBody-Body[data-type='Citistack App'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.designBody-Body[data-type='Chealey Electronics App'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

.designBody-Body[data-type='Pay4Me Fintech App'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
}

.designBody-Body[data-type='Atht Group Website'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 7;
}

.designBody-Body[data-type='Hightable Africa App'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
}

.designBody-Body[data-type='ScholarHQ Community App'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 7;
	grid-row-end: 8;
}

.designBody-Body[data-type='BiRBuR Rideshare/Rental App'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 9;
}

.designBody-Body[data-type='Jenny Sue Doula Website'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 8;
	grid-row-end: 10;
}

.designBody-Body[data-type='Pluggxtra Entertainment News Website'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 9;
	grid-row-end: 11;
}

.designBody-Body[data-type='Clear Assessments Mental Health Assessment App'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 10;
	grid-row-end: 12;
}

.designBody-Body[data-type='Nigerian Civil Aviation Authority Helpdesk'] {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 11;
	grid-row-end: 13;
}

.designBody-Body[data-type='Odds Vikings Sports Betting Website'] {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 12;
	grid-row-end: 14;
	margin-bottom: 3rem;
}

@media only screen and (max-width: 750px) {
	.designBody {
		display: block;
	}

	.designBody-body--body[data-orientation='vertical'] {
		display: grid;
		margin-top: 0;
		padding: 0 1rem;
	}

	.designBody-body--body[data-orientation='vertical']
		> .designHero-body--svg
		> .svg {
		margin: 0 auto;
		width: 75%;
		height: 75%;
	}

	.designHero-body--svg {
		margin-top: 0;
	}

} /* DesignBody end  */
