section#abt {
	background: url('../Assets/welcome.png') center center no-repeat fixed;
	background-size: 100vw 100vh;
	padding: 1.5rem 2rem;
	/* width: max-content; */
	/* width: 100%; */
}

.abt-title {
	font-size: 3rem;
	margin-left: 1rem;
	/* width: 100vw; */
	font-weight: bold;
}

.abt-btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	padding: 0.5rem 1.5rem;
	color: #d8cfcf;
	font-size: 0.9rem;
	background-color: #262626;
}

.abtHero {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 1.5rem;
}

.blackbox[data-abt='1'] {
	position: relative;
	/* scale: 1/0.5; */
}

.socials {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 2rem;
	margin-top: 2rem;
  justify-content: space-between;
}

.socials-svg {
	width: 5rem;
}

.abt-txt {
	font-size: 1.1rem;
	padding: 0 1rem;
	margin-top: 2rem;
	/* border-left: attr(data-color) solid 1rem; */
}

.ques {
	font-size: 1.4rem;
	font-weight: bold;
}
