/* This is where i wrote all the css styling for the home page */

section#hero {
	background: url('../Assets/welcome.png') center center no-repeat fixed;
	background-size: 100vw 100vh;
}

/* navBar css  */
nav {
	box-sizing: border-box;
	position: sticky;
	top: 0;
	background-color: #262626;
	height: 3.4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 99;
	/* overflow: hidden; */
}

.toggle-button {
	display: none;
}

.navbarBrand {
	/* width: 10rem; */
	margin-top: 5px;
	height: 2rem;
	justify-content: center;
	margin-left: 3rem;
}

.navbarEl {
	justify-content: start;
	width: 55%;
}

.navbarEL > ul.nav-Links {
	justify-content: space-around;
}

ul.nav-Links {
	text-decoration: none;
	list-style-type: none;
	display: flex;
}

.nav-link {
	text-decoration: none;
	list-style-type: none;
	margin: 0 1rem;
	display: flex;
	/* width: 10rem; */
	color: #d6cfcf;
}
.nav-link:hover {
	border-bottom: #bdb6b6 1px solid;
}

.navIcons > .icon {
	width: 1.3rem;
	aspect-ratio: 1;
	background-color: #d8cfcf;
	border-radius: 2px;
	padding: 0 1.3px;
	margin: 0 0.2rem;
}


@media only screen and (max-width: 600px) {
	.navIcons {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, 90%);
		display: flex;
		flex-direction: column;
	}

	.navIcons > .icon {
		margin-top: 10px;
		margin-right: 5px;
		width: 2rem;
	}

	.navbarEl {
		justify-content: start;
		width: 90%;
	}

	.navbarBrand {
		justify-content: center;
		margin-left: 2rem;
	}

	.navbarEL > .nav-Links {
		max-width: 15rem;
		justify-content: space-between;
	}
}

@media only screen and (max-width: 420px) {
	.collapse {
		display: none !important;
	}

	nav {
		display: grid;
		place-items: center;
		z-index: 99;
	}

	.toggle-button {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		display: block;
		background-color: #bdb6b6;
		border-radius: 11px;
		padding-bottom: 1px;
	}

	.toggle-button:hover {
		transform: scale(0.9, 0.9);
		transition: width 3s;
		/* width: 32px; */
		aspect-ratio: 1 / 1;
	}

	ul.nav-Links {
		background-color: #5f5c5c;
		position: absolute;
		top: 37px;
		left: 0;
		width: 100vw;
		/* height: calc(100vh - 37px); */
		flex-direction: column;
		padding: 0;
		/* display: flex */
		align-items: space-around;
	}

	.nav-link {
		justify-content: center;
		margin: 0;
		padding: 1rem;
		width: 100%;
		text-align: center;
	}

	.nav-link a {
		width: 100vw;
	}
}

/* navBar css End */

/* Hero component  */

.heroHome {
	display: grid;
	grid-template-areas: a, b;
	margin: 2rem 4rem;
	grid-template-columns: repeat(2, 50%);
	gap: 2rem;
	position: relative;
}

/* lottie style  */

.lottie-hero {
	z-index: 1;
	top: 45%;
	left: 30%;
	position: absolute;
}

.header {
	font-size: 5vw;
	margin-bottom: 1rem;
}

.textBody {
	/* font-family: 'Product Sans'; */
	margin-bottom: 1rem;
	font-size: 1.8vw;
	z-index: 10;
	line-height: 150%;
	margin-bottom: 1.5rem;
}

.heroEl {
	z-index: 2;
}

.blackbox {
	width: 38vw;
	max-width: 450px;
	min-width: 180px;
	z-index: 3;
	border-radius: 1rem;
	background-color: #262626;
	aspect-ratio: 1 / 1;
	/* margin: 0 auto; */
	overflow: hidden;
}

.heroEL:last-of-type {
	display: grid;
	place-items: start;
}

.textfooter {
	margin-bottom: 3rem;
}

.btn {
	padding: 1vw 1vw;
	border-radius: 10px;
	width: 17vw;
	font-size: clamp(12px, 1.5vw, 13px);
	/* font-size: 13px; */
	cursor: pointer;
	border: 1px black solid;
	/* font-size: max(100px, min(10vw, 150px));  */
	/* Browsers that do not support the "clamp ()" function will take this value. */
	/* font-size: clamp(100px, 10vw, 150px); */
}

.btn:hover {
	box-shadow: 10px #262626;
}

.btn-chat {
	margin-right: 1rem;
	color: white;
	background-color: #262626;
}

.btn-resume {
	background-color: #ffffff;
}

/* Responsive hero section  */

@media only screen and (max-width: 550px) {
	.heroHome {
		display: flex;
		flex-direction: column-reverse;
		margin: 1rem 1.5rem;
		gap: 1rem;
		/* grid-template-columns: repeat(1, 100%);
    grid-template-areas: b, a; */
	}

	.lottie-hero {
		top: 2%;
		left: 60%;
	}

	.header {
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}

	.textBody {
		font-size: 0.85rem;
		margin-bottom: 0.5rem;
	}

	.btn {
		scale: 1.6;
		border-radius: 5px;
		margin-bottom: 1rem;
		border: 0.1px black solid;
		font-size: 0.39rem;
	}

	.btn-chat {
		margin-right: 3.7rem;
		margin-left: 1rem;
		margin-bottom: 0;
	}

	.btn-resume {
		margin-bottom: 0;
	}

	.blackbox {
		z-index: 1;
	}
}

@media only screen and (max-width: 350px) {
	.btn {
		scale: 2;
	}

	.btn-chat {
		margin-right: 4rem;
		margin-left: 1rem;
	}
}

/* End pf hero section */

/* experience section  */

#experience {
	background: #ebedee;
	position: relative;
	border-radius: 1% 20% 0 0;
	z-index: 3;
	display: grid;
	place-items: center;
}

.title {
	margin-top: 1.8rem;
	font-size: 2.3rem;
	text-align: center;
	font-weight: bold;
}

.experiencetxt {
	display: grid;
	place-items: center;
	margin: 0 10vw;
	justify-content: center;
	text-align: center;
	font-size: 1rem;
}

/* Mosiic section  */

.mosaic {
	display: grid;
	width: 80vw;
}

.resImg {
	position: relative;
}

.Img {
	width: 100%;
	/* height: 100% ; */
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	opacity: 0;
	transition: opacity 0.4s ease-in;
	cursor: pointer;
	font-weight: bold;
}

.overText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.resImg:hover .overlay {
	opacity: 1;
}

.resImg[data-text='Mandilas Nigeria Website'] {
	/* display: grid; */
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.resImg[data-text='BirBur Eide Sharing / Rental Website'] {
	grid-column-start: 4;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 3;
}

.resImg[data-text='ScholarsHQ Mobile App'] {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 3;
}

.resImg[data-text='HighTable Complete Product'] {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

.resImg[data-text='Pay4me Complete Product'] {
	grid-column-start: 4;
	grid-column-end: 10;
	grid-row-start: 3;
	grid-row-end: 4;
}

.resImg[data-text='Chealey Mobile Ecommerce App'] {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 3;
	grid-row-end: 4;
}

.resImg[data-text='ASSECO Sales Management SAAS App'] {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 6;
}

.resImg[data-text='Tailor On the Go Mobile App'] {
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 4;
	grid-row-end: 6;
}

.resImg[data-text='AreaExpress Complete Product'] {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 4;
	grid-row-end: 6;
}

.see {
	padding: 0.5rem 2.5rem;
	margin: 2rem 0;
}

@media only screen and (max-width: 425px) {
	#experience {
		border-radius: 1% 3% 0 0;
	}

	.mosaic {
		display: block;
	}
	.overlay {
		opacity: 0.75;
	}
}
/* End Mosiic section  */

/* END Experiecne section */

/* Core Skill Set Component  */
section#coreSkills {
	/* position: relative; */
	background: url('../Assets/coreSkills.png') center center no-repeat fixed;
	background-size: 100vw 100vh;
	color: #ebedee;
}

.title-skill {
	margin-left: 2rem;
	padding-top: 2rem;
}

.skillText {
	margin-left: 2rem;
	padding-top: 1rem;
	font-size: 2rem;
	padding-bottom: 1rem;
}

@media only screen and (max-width: 425px) {
	.skillText {
		font-size: 1.5rem;
	}
}

/* .blackBox {
	position: absolute;
	background-color: #181819;
	width: 100%;
	top: 0;
	opacity: 0.3;
	bottom: 0;
	height: 100%;
	z-index: 2;
} */

#videoPlayback {
	background-color: white;
	display: grid;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
	width: 100%;
	overflow: clip;
}

.title-playlist {
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 70vw;
}

@media only screen and (max-width: 550px) {
	.title-playlist {
		width: 100vw;
	}
}

.containerVideo {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	margin-bottom: 3rem;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#innovate {
	/* position: relative; */
	background: url('../Assets/dreamyNight.png') center center no-repeat fixed;
	background-size: 100vw 100vh;

	color: black;
}

.overlayInnovate {
	background-color: rgb(255, 255, 255, 0.85);
}

.innovate-card {
	/* margin-left: 1rem; */
	max-width: 55vw;
}

@media only screen and (max-width: 750px) {
	.innovate-card {
		max-width: 80vw;
	}
}
.innovate-img {
	width: 5rem;
	height: 5rem;
}

.overlayInnovate {
	display: flex;
	justify-content: space-around;
}

.innovate-images {
	display: flex;
	position: relative;
}

.innovate--title {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
	font-size: 1.8rem;
	max-width: 45vw;
}

.innovate-body {
	font-size: 1.4rem;
	margin-bottom: 3rem;
	line-height: 1.8rem;
}

.innovate-img:nth-of-type(5) {
	position: absolute;
	bottom: 10%;
	transform: translate(-10%, 0);
}

.innovate--button {
	padding: 1rem 2rem;
	background-color: white;
	border: 0;
	border-radius: 6px;
	margin-bottom: 5rem;
	font-size: 1.2rem;
}

/* footer */

#footer {
	background-color: #ebedee;
	display: flex;
	align-items: center;
	/* height: 10px; */
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
	/* position: fixed;
	width: 95vw;
	bottom: 0; */
}

.footer-header {
	display: flex;
	align-items: center;
}

.footerImg {
	width: 3.2rem;
}

.footer-body {
	padding-left: 1rem;
}

@media only screen and (max-width: 800px) {
	.footer-header {
		display: block;
	}

	.footer-body {
		padding: 0;
	}
}

@media only screen and (max-width: 375px) {
	#footer {
		display: block;
	}
}
